

input [type="button"]{
    width: 100%;
    height: 100%;
    
}
.container {
    padding: 33px;
    background-color: #5a5959;
    display: table;
    margin: auto;
}

input[type="button"] {
    font-size: 19px;
    padding: 6px 29px;
}
input#a {
    padding: 10px 30px;
    font-size: 19px;
}